{% extends 'myapp/base.html' %}


{% block content %}
  <div class="card border border-info">
    <div class="card-body">
      <h3 class="f-h1">เกี่ยวกับเรา</h3>
    <p class="f-h3">Sukoi Sushi  ได้ถือกำเนิดถือเพื่อเป็นแหล่งวัตถุดิบอาหารพรีเมี่ยมชั้นนำให้แก่ลูกค้า เรามีสินค้าที่เกิดจากการคัดสรรด้วยความใส่ใจกว่า 500 รายการ โดยลูกค้าสามารถช้อปออนไลน์, ชำระเงินและรอรับสินค้าได้ที่บ้านหรือตามที่อยู่ที่ได้ระบุไว้ แค่นี้ก็สามารถอิ่มอร่อยกับเมนูอาหารที่ดีมีคุณภาพได้อย่างง่ายดาย นอกจากนี้ Sukoi Sushi ยังแบ่งปันบทความและเคล็ดลับด้านความรู้ด้านการทำอาหารมากมายให้แก่ลูกค้าเพื่อสร้างสังคมและคุณภาพชีวิตที่ดียิ่งขึ้น</p>
  
    </div>
  </div>
{% endblock content %}






