
{% extends 'myapp/base.html' %}

{% block content %}

<div class="card border border-warning">
	<div class="card-body">
	  <div class="card-header text-center bg-success text-white text-center f-h1" style="font-size: 2rem;"> <i class="fa fa-shopping-cart" style="color:#f3e30a"></i> สินค้าล่าสุด <i class="fa fa-shopping-cart" style="color:#f3e30a"></i></div>
	  	
		<div class="row mt-4">
		  {% for pd in product %}
		  <div class="col-sm-4 mb-2">
			<div class="card-deck">
			  <div class="card border-success" style="height: 30rem;">
				  {% if pd.image %}
					<img src="{{ pd.image.url }}" class="img-fluid mt-3 rounded mx-auto d-block"style="width: 10rem;">
				  {% elif pd.imageurl != None %}
					<img src="{{ pd.imageurl }}" class="img-fluid mt-3 rounded mx-auto d-block"style="width: 10rem;">
				  {% else %}
					<img src="/media/default.png" class="img-fluid mt-3 rounded mx-auto d-block"style="width: 14rem;">
				  {% endif %}
				<div class="card-body">
				  <h5 class="card-title f-h1">{{ pd.name }}</h5>
				  <p class="card-text text-danger f-h3">ราคา {{ pd.price }} บาท / {{ pd.unit }}</p>
					  <p class="card-text f-h3" style="font-size: 17px;">{{ pd.detail|truncatechars_html:50 }}</p>
						{% if pd.quantity > 0 %}
						  <p class="card-text text-success f-h3">สินค้าในสต๊อก : {{ pd.quantity }} {{ pd.unit }}</p>
						{% else %}
						  <p class="card-text text-warning f-h3">สินค้าอาจจะหมดสต๊อก กรุณาติดต่อแอดมิน</p>
						{% endif %}
				
						{% if pd.instock == True %}
						  <a href="#" class="btn btn-primary f-h3"><i class="fa fa-shopping-cart"></i> สั่งซื้อ</a>
						{% else %}
						  <a href="#" class="btn btn-danger f-h3"><i class="fa fa-times-circle"></i> สินค้าหมดแล้ว</a>
						{% endif %}
				</div>
			  </div>
			</div>
		  </div>
				  
		  {% endfor %}
		  
		  
   
  
		</div>
		
	  </div>
	</div>


	<div class="card border border-danger mt-3">
		<div class="card-body">
		  <div class="card-header text-center bg-light text-center f-h3" style="font-size: 2rem;"> <i class="fa fa-shopping-cart" style="color:rgb(243, 10, 10)"></i> <a href="{% url 'allproduct-page' %}"> สินค้าทั้งหมด </a> <i class="fa fa-shopping-cart" style="color:rgb(243, 10, 10)"></i></div>
			<br>
		  <h3 class="f-h1 text-success" style="font-size: 1rem;"> สินค้าขายดี ต้อง Pre-order </h3>
		  <p class="f-h3 text-danger">pre order ล่วงหน้า 20 วัน</p>
		
			<div class="row mt-4">
			  {% for pd in preorder %}
			  <div class="col-sm-4 mb-2">
				<div class="card-deck">
				  <div class="card border-success" style="height: 30rem;">
					  {% if pd.image %}
						<img src="{{ pd.image.url }}" class="img-fluid mt-3 rounded mx-auto d-block"style="width: 10rem;">
					  {% elif pd.imageurl != None %}
						<img src="{{ pd.imageurl }}" class="img-fluid mt-3 rounded mx-auto d-block"style="width: 10rem;">
					  {% else %}
						<img src="/media/default.png" class="img-fluid mt-3 rounded mx-auto d-block"style="width: 14rem;">
					  {% endif %}
					<div class="card-body">
					  <h5 class="card-title f-h1">{{ pd.name }}</h5>
					  <p class="card-text text-danger f-h3">ราคา {{ pd.price }} บาท / {{ pd.unit }}</p>
						  <p class="card-text f-h3" style="font-size: 17px;">{{ pd.detail|truncatechars_html:50 }}</p>
							{% if pd.quantity > 0 %}
							  <p class="card-text text-success f-h3">สินค้าในสต๊อก : {{ pd.quantity }} {{ pd.unit }}</p>
							{% else %}
							  <p class="card-text text-warning f-h3">สินค้าหมดแล้ว พรีออร์เดอร์ได้</p>
							  <a href="#" class="btn btn-primary f-h3"><i class="fa fa-shopping-cart"></i> Pre-Order</a>
							{% endif %}
					
						
					</div>
				  </div>
				</div>
			  </div>
					  
			  {% endfor %}
			  
			  
	   
	  
			</div>
			
		  </div>
		</div>

{% endblock content %}

