{% extends 'myapp/base.html' %}
{% load humanize %} 

{% block content %}
  <div class="card border border-success">
    <div class="card-body">

        

        {% if status == 'delete' %}
        <div class="alert alert-danger f-h3" role="alert">
           <strong>ได้ทำการลบสินค้าเรียบร้อยแล้ว</strong> >>>> หากต้องการสินค้าเพิ่ม กรุณาสั่งซื้อใหม่ครับ <i class="fa fa-shopping-cart"></i><i class="fa fa-shopping-cart"></i><i class="fa fa-shopping-cart"></i>
          </div>
        {% endif %}
      <h3 class="f-h3 text-center"><i class="fa fa-shopping-cart" style="color:rgb(248, 15, 34)"></i> แก้ไขตะกร้าสินค้าของฉัน <i class="fa fa-shopping-cart" style="color:rgb(248, 15, 34)"></i></h3> 
      <p class="text-center">ท่านสามารถแก้ไขข้อมูลของสินค้าได้</p> <br>
      <form method="POST" id="formsave">
          {% csrf_token %}
      
      <table class="table table-striped">
            <thead>
              <tr style= "background: chartreuse">
                <!-- <th scope="col">No</th> -->
                <!-- <th scope="col" class="f-h1">เวลาสั่งซื้อล่าสุด</th> -->
                <th scope="col" class="f-h1">รหัส</th>
                <th scope="col" class="f-h1">สินค้า</th>
                <th scope="col" class="f-h1">ราคา</th>
                <th scope="col" class="f-h1">จำนวน</th>
                <th scope="col" class="f-h1">ยอดรวม</th>
                <!-- <th scope="col" class="f-h1">การจัดการ</th> -->
              </tr>
            </thead>
            <tbody>
                {% for pd in mycart %}
              <tr>
                    <!-- <th>{{ pd.count.id }}</th> -->
                    <!-- <td>{{ pd.stamp}}</td> -->
                    <td class="f-h3">{{ pd.productid }}</td>
                    <td class="f-h3">{{ pd.productname }}</td>
                    <td class="f-h3">{{ pd.price | intcomma }}</td>
                    <td class="f-h3"> <input type="text" name="pd_{{ pd.productid }}" value="{{ pd.quantity }}" style="width: 80px" class="text-center"></td>
                    <td class="f-h3">{{ pd.total | intcomma }}</td>

                                       

              </tr>
              {% endfor %}
              
            </tbody>
          </table>

            <input type="hidden" name="checksave" value="checksave">
        </form>
              <div class="row">
                  
                  <button type="submit" form="formsave" class="btn btn-primary f-h1"><i class="fa fa-save" style="font-size: 1.5rem;"></i> บันทึก</button>
                
        
                  &nbsp;
                  <form id="formclear" method="POST" onsubmit="return confirm('คุณต้องการลบสินค้าทั้งหมดใช่หรือไม่ ?')">
                    {% csrf_token %}
                      <input type="hidden" name="clear" value="clear">
                      <button type="submit" form="formclear" class="btn btn-danger f-h1"><i class="fa fa-undo" style="font-size: 1.5rem;"></i> ลบสินค้าทั้งหมด</button>
                  </form>
                  
              </div>
              
         
       
   
  
    </div>
  </div>
{% endblock content %}






