
{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="container">
        <img src="{% static "images/111.jpg" %}" class="img-thumbnail">
        <h3 class="text-center">ซาซิมิ เซ็ต 1 กิโลกรัม</h3>
         <p>แซลมอนแพลตเตอร์ขนาด 1 กิโล ที่รังสรรค์มาให้รูปแบบของช่อดอกกุหลาบ สร้างความประทับใจทั้งคนให้ และคนทาน ความประณีตที่แฝงไปด้วยความอร่อยที่เรียกได้ว่าเป็นอันดับ 1 ที่เชฟญี่ปุ่นแนะนำ โรยความละมุนและหวานหอมด้วยไข่ปลาแซลมอนที่แวววาว 
        สร้างความชุ่มฉ่ำแก่แซลมอนจานนี้ได้อย่างดีที่สุด</p>
</div>

{% endblock content %}









